// 引入基础变量
@import '_function';
@import '_mixin';
@import 'reset';
// 框架样式
@import 'common/common';
@import 'common/header';
@import 'common/sidenav';
@import 'common/article';
// 组件样式
@import 'components/sysNotes';
@import 'components/sysSearch';
@import 'components/sysSection';
@import 'components/sysTable';
@import 'components/sysTitle';
@import 'components/sysToolbar';
@import 'components/tagNav';
// 页面样式
@import 'page/login';

//全局样式
.app-container {
    padding: 20px;
    overflow: auto;
    height: 100%;
    &.nopad{
      padding: 0px;
  }
}
.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}
.el-dialog__wrapper{
  overflow:hidden;
}
.el-scrollbar__wrap {
  overflow-x: hidden;
}
  